body{
	padding: 0;
	margin: 0;
	background: rgb(63, 51, 51);
}

.contaminator-container{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.1;
	overflow: hidden;
}

.contaminator{
	position: absolute;
}

.contaminator.overloop{
	background-color: yellow;
	border-radius: 100%;
}